.card {
	background: var(--white);
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	font: var(--body1-regular);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline-end: 2rem;
	padding-inline-start: 2rem;
	padding-block-end: 2rem;
	min-block-size: 27.4375rem;
	box-sizing: border-box;
}

.card-avatar {
	position: relative;
	bottom: 3.1563rem;
	margin: 0;
	block-size: 6.3125rem;
	inline-size: 6.2975rem;
}

.card-avatar img {
	vertical-align: middle;
	block-size: 100%;
	inline-size: auto;
}

.card-content {
	margin: 0;
	padding-block-start: 1.6875rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.5rem;
}

.card-quote {
	text-align: center;
	margin: 0;
}

.card-author {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: center;
	color: var(--grey);
}

.card-author span:first-of-type {
	font: var(--body1-bold);
	color: var(--black);
}

@media screen and (min-width: 768px) {
	.card {
		inline-size: 426px;
		block-size: 439px;
		flex-shrink: 0;
	}
}
