.footer {
	background: var(--black);
	padding-block-end: 8rem;
}

.footer-content {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.footer-logo {
	margin: 0;
	block-size: 1.2rem;
	inline-size: 5.75rem;
}

.footer-caption {
	margin-block-start: 0.25rem;
	font: var(--caption);
	color: var(--grey);
}

.footer-socialNetwork {
	display: flex;
	gap: 1rem;
	margin-block-start: 1.75rem;
}

.footer-socialNetwork a {
	background: var(--white);
	color: var(--black);
	text-decoration: none;
	display: block;
	block-size: 2.25rem;
	inline-size: 2.25rem;
	font-size: 1.25rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
