.header {
	background: var(--black);
	display: flex;
	justify-content: center;
	position: sticky;
	inset-block-start: 0;
	z-index: 1;
}

.header-content {
	flex: 1;
	max-inline-size: 85.375rem;
	display: flex;
	block-size: 4.75rem;
	justify-content: space-between;
	align-items: center;
	padding-inline-end: 1.25rem;
	padding-inline-start: 1.25rem;
	box-sizing: border-box;
}

.header-logo {
	margin: 0;
	inline-size: 5.75rem;
}

.header-logo img {
	inline-size: 100%;
	block-size: auto;
	vertical-align: middle;
}

.header > .button.is-login {
	display: none;
}

@media screen and (min-width: 768px) {
	.header {
		block-size: 5.375rem;
		position: static;
	}

	.header > .button.is-login {
		display: block;
	}
}
