.header {
	background: var(--black);
	display: flex;
	block-size: 4.75rem;
	justify-content: space-between;
	align-items: center;
	padding-inline-end: 1.25rem;
	padding-inline-start: 1.25rem;
	position: fixed;
	inset-block-start: 0;
	inline-size: 100vw;
	z-index: 1;
	box-sizing: border-box;
}

.header-logo {
	margin: 0;
	inline-size: 5.75rem;
}

.header-logo img {
	inline-size: 100%;
	block-size: auto;
	vertical-align: middle;
}
