.hero {
	background: url('../assets/images/background.png') no-repeat;
	background-size: cover;
	block-size: 43.5rem;
	padding-block-start: 2rem;
	box-sizing: border-box;
}

.hero-details {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: flex-start;
}

.hero-title {
	margin: 0;
	font: var(--headline4);
	color: var(--white);
}

.hero-description {
	margin: 0;
	color: var(--grey);
	font: var(--body2-regular);
}

@media screen and (min-width: 768px) {
	.hero {
		block-size: 50.875rem;
		padding-block-start: 12.9375rem;
	}

	.hero-title {
		font: var(--headline3);
	}

	.hero-description {
		font: var(--body1-regular);
		inline-size: 36.25rem;
	}
}
