.hero {
	background: url('../assets/images/background.png') no-repeat;
	background-size: cover;
	block-size: 48.3125rem;
	padding-block-start: 6.9375rem;
	box-sizing: border-box;
}

.hero-details {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: flex-start;
}

.hero-title {
	margin: 0;
	font: var(--headline4);
	color: var(--white);
}

.hero-description {
	margin: 0;
	color: var(--grey);
	font: var(--body2-regular);
}
