.menu {
	background: var(--black);
	block-size: calc(100vh - 4.75rem);
	box-sizing: border-box;
	clip-path: circle(0 at 100% 0);
	display: flex;
	flex-direction: column;
	inset-block-start: 100%;
	inset-inline-end: 0;
	inset-inline-start: 0;
	justify-content: space-around;
	position: absolute;
	transition: clip-path 0.5s;
	z-index: 1;
	-moz-transition: clip-path 0.5s;
	-ms-transition: clip-path 0.5s;
	-o-transition: clip-path 0.5s;
	-webkit-transition: clip-path 0.5s;
	overflow: hidden;
}

.menu.is-visible {
	clip-path: circle(max(150vh, 150vw) at 100% 0);
}

.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-item {
	padding: 1rem;
	display: block;
	font: var(--button);
	color: var(--grey);
	text-decoration: none;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transition: opacity 0.2s, transform 0.2s;
	-moz-transition: opacity 0.2s, transform 0.2s;
	-ms-transition: opacity 0.2s, transform 0.2s;
	-o-transition: opacity 0.2s, transform 0.2s;
	text-align: center;
	opacity: 0;
	transform: translateX(2.5rem);
	-webkit-transform: translateX(2.5rem);
	-moz-transform: translateX(2.5rem);
	-ms-transform: translateX(2.5rem);
	-o-transform: translateX(2.5rem);
}

.menu-list li:nth-of-type(2) .menu-item {
	animation-delay: 0.2s;
}
.menu-list li:nth-of-type(3) .menu-item {
	animation-delay: 0.4s;
}
.menu-list li:nth-of-type(4) .menu-item {
	animation-delay: 0.6s;
}
.menu-list li:nth-of-type(5) .menu-item {
	animation-delay: 0.8s;
}

.menu.is-visible .menu-item {
	animation: loadItem 2s forwards;
	-webkit-animation: loadItem 2s forwards;
}

.menu-item:hover {
	color: var(--white);
}

.menu .button {
	align-self: center;
}

@keyframes loadItem {
	to {
		opacity: 1;
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}
}
