.password {
	padding-block-start: 4rem;
	padding-block-end: 4rem;
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
	align-items: center;
}

.password-description {
	max-inline-size: 27.875rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.password-image {
	margin: 0;
	inline-size: 20rem;
	block-size: 20rem;
}

.password-image img {
	vertical-align: middle;
	inline-size: 100%;
	block-size: auto;
}

@media screen and (min-width: 768px) {
	.password {
		padding-block-start: 12.5rem;
		padding-block-end: 12.5rem;
	}

	.password-details {
		display: flex;
		flex-direction: column-reverse;
		gap: 4rem;
	}

	.password .section-description {
		max-inline-size: 23.25rem;
	}

	.password-image {
		inline-size: 23.125rem;
		block-size: 23.125rem;
	}
}
