.phone {
	position: absolute;
	top: 32.5625rem;
	inline-size: 100%;
	display: flex;
	justify-content: center;
}

.phone-image {
	inline-size: 16.5rem;
	margin: 0;
}

.phone img {
	inline-size: 100%;
	block-size: auto;
	vertical-align: middle;
}
