.phone {
	position: absolute;
	top: 27.6875rem;
	inline-size: 100%;
	display: flex;
	justify-content: center;
	block-size: 31.4531rem;
}

.phone-image {
	position: absolute;
	inline-size: 16.5rem;
	block-size: inherit;
	margin: 0;
	background: url('../assets/images/iphone.png') no-repeat;
	background-size: cover;
}

.phone.is-copy {
	position: static;
}

.phone-image video {
	position: absolute;
	inset-block-start: 4.4375rem;
	inset-inline-start: 31px;
	object-fit: cover;
	inline-size: 12.5625rem;
	block-size: 22.1875rem;
}

@media screen and (min-width: 768px) {
	.phone {
		top: 35.125rem;
	}
}
