.range {
	background: #e8e8e8;
	inline-size: 94.4%;
	block-size: 2.5rem;
	border-radius: 100px 0 0 100px;
	-webkit-border-radius: 100px 0 0 100px;
	-moz-border-radius: 100px 0 0 100px;
	-ms-border-radius: 100px 0 0 100px;
	-o-border-radius: 100px 0 0 100px;
	margin-inline-start: auto;
	margin-block-end: 4rem;
	margin-block-start: 2.5rem;
}

.range-progress {
	background: #2fb464;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	block-size: 100%;
	inline-size: 5%;
	will-change: inline-size;
	transition: inline-size 1.2s ease-out;
	-webkit-transition: inline-size 1.2s ease-out;
	-moz-transition: inline-size 1.2s ease-out;
	-ms-transition: inline-size 1.2s ease-out;
	-o-transition: inline-size 1.2s ease-out;
}

.range.is-visible .range-progress {
	inline-size: 60%;
}

@media screen and (min-width: 768px) {
	.range {
		inline-size: 80%;
		margin-block-start: 3.75rem;
	}
}

@media screen and (min-width: 1024px) {
	.range {
		margin-inline-start: 1.875rem;
		inline-size: calc(100% - 1.875rem);
		grid-column: 3/-1;
	}
}
