.signup {
	position: relative;
	inset-block-end: 5.875rem;
}

.signup-content {
	background: var(--white);
	padding-inline-end: 2rem;
	padding-inline-start: 2rem;
	padding-block-start: 1.5rem;
	padding-block-end: 1.5rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: center;
	align-items: center;
}

.description p {
	margin: 0;
	font: var(--body2-regular);
	color: var(--grey);
}

.signup-title {
	margin: 0;
	margin-block-end: 0.75rem;
	font: var(--headline5);
}

.signup a {
	inline-size: 16rem;
}

@media screen and (min-width: 768px) {
	.signup {
		inset-block-end: 7.5rem;
	}

	.signup-content {
		padding-block-start: 4rem;
		padding-block-end: 4rem;
		gap: 3.5rem;
	}

	.signup-title {
		font: var(--headline2);
	}

	.description p {
		font: var(--body1-regular);
	}

	.signup a {
		inline-size: 18.6875rem;
	}
}
