.testimonial {
	background: var(--grey10);
	padding-block-start: 5rem;
	padding-block-end: 12.5rem;
	position: relative;
}

.testimonial-title {
	font: var(--headline5);
	color: var(--black10);
	text-align: center;
	margin-bottom: 8.1875rem;
}

.testimonial-slider {
	display: flex;
	flex-direction: column;
	gap: 8.1875rem;
}
