@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url(./assets/fonts/inter-v7-latin-regular.woff2) format('woff2'),
		url(./assets/fonts/inter-v7-latin-regular.woff) format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url(./assets/fonts/inter-v7-latin-700.woff2) format('woff2'),
		url(./assets/fonts/inter-v7-latin-700.woff) format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: url(./assets/fonts/inter-v7-latin-800.woff2) format('woff2'),
		url(./assets/fonts/inter-v7-latin-800.woff) format('woff');
}

:root {
	--primary: #fed941;
	--white: #ffffff;
	--grey: #808080;
	--grey10: #eceef1;
	--grey20: #a5a5a5;
	--black: #000000;
	--black10: #333333;
	--grid-columns: 1fr 264px 707px 1fr;
	--fontBase: 'Inter', sans-serif;
	--headline3: 800 2.875rem/3.5rem var(--fontBase);
	--headline2: 700 3rem/3.625rem var(--fontBase);
	--headline4: 700 1.75rem / normal var(--fontBase);
	--headline5: 700 1.5625rem / normal var(--fontBase);
	--button: 700 1.125rem/1.75rem var(--fontBase);
	--caption: 400 0.75rem/1.375rem var(--fontBase);
	--body1-regular: 400 1.125rem/1.6875rem var(--fontBase);
	--body1-bold: 700 1.125rem/1.6875rem var(--fontBase);
	--body2-regular: 400 1rem/1.375rem var(--fontBase);
	--body2-bold: 700 1rem/1.1875rem var(--fontBase);
	--link: 400 1rem/1.6875rem var(--fontBase);
}

.body {
	margin: 0;
	min-inline-size: 22.5rem;
}

@media screen and (min-width: 1400px) {
	:root {
		--grid-columns: 1fr 400px 876px 1fr;
	}
}

@font-face {
	font-family: 'icomoon';
	src: url(./assets/fonts/icomoon.eot);
	src: url(./assets/fonts/icomoon.eot#iefix)
			format('embedded-opentype'),
		url(./assets/fonts/icomoon.ttf) format('truetype'),
		url(./assets/fonts/icomoon.woff) format('woff'),
		url(./assets/fonts/icomoon.svg#icomoon) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: '\ea1c';
}
.icon-twitter:before {
	content: '\ea96';
}
.icon-github:before {
	content: '\eab0';
}
.icon-linkedin:before {
	content: '\eaca';
}

.header {
	background: var(--black);
	display: flex;
	justify-content: center;
	position: sticky;
	inset-block-start: 0;
	z-index: 2;
}

.header-content {
	flex: 1;
	max-inline-size: 85.375rem;
	display: flex;
	block-size: 4.75rem;
	justify-content: space-between;
	align-items: center;
	padding-inline-end: 1.25rem;
	padding-inline-start: 1.25rem;
	box-sizing: border-box;
}

.header-logo {
	margin: 0;
	inline-size: 5.75rem;
}

.header-logo img {
	inline-size: 100%;
	block-size: auto;
	vertical-align: middle;
}

.header-content > .button.is-login {
	display: none;
}

@media screen and (min-width: 768px) {
	.header {
		block-size: 5.375rem;
		position: static;
	}

	.header-content > .button.is-login {
		display: block;
	}
}

.burgerButton {
	inline-size: 1.5625rem;
	block-size: 1.5625rem;
	background: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
}

.burgerButton-middle,
.burgerButton::before,
.burgerButton::after {
	block-size: 0.1875rem;
	background: var(--white);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
}

.burgerButton::before {
	content: '';
	display: block;
	transform: translateY(12px);
	-webkit-transform: translateY(12px);
	-moz-transform: translateY(12px);
	-ms-transform: translateY(12px);
	-o-transform: translateY(12px);
}

.burgerButton::after {
	content: '';
	display: block;
	transform: translateY(-12px);
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	-o-transform: translateY(-12px);
}

.burgerButton.is-pressed .burgerButton-middle {
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	opacity: 0;
}

.burgerButton.is-pressed::before {
	transform: rotate(-45deg) translate(-2px, 2px);
	-webkit-transform: rotate(-45deg) translate(-2px, 2px);
	-moz-transform: rotate(-45deg) translate(-2px, 2px);
	-ms-transform: rotate(-45deg) translate(-2px, 2px);
	-o-transform: rotate(-45deg) translate(-2px, 2px);
}

.burgerButton.is-pressed::after {
	transform: rotate(45deg) translate(-2px, -2px);
	-webkit-transform: rotate(45deg) translate(-2px, -2px);
	-moz-transform: rotate(45deg) translate(-2px, -2px);
	-ms-transform: rotate(45deg) translate(-2px, -2px);
	-o-transform: rotate(45deg) translate(-2px, -2px);
}


@media screen and (min-width: 768px) {
	.burgerButton {
		display: none;
	}
}

.menu {
	background: var(--black);
	block-size: calc(100vh - 4.75rem);
	/* box-sizing: border-box; */
	clip-path: circle(0 at 100% 0);
	display: flex;
	flex-direction: column;
	inset-block-start: 100%;
	inset-inline-end: 0;
	inset-inline-start: 0;
	justify-content: space-around;
	position: absolute;
	transition: clip-path 0.5s;
	z-index: 1;
	-moz-transition: clip-path 0.5s;
	-ms-transition: clip-path 0.5s;
	-o-transition: clip-path 0.5s;
	-webkit-transition: clip-path 0.5s;
	overflow: hidden;
}

.menu.is-visible {
	clip-path: circle(max(150vh, 150vw) at 100% 0);
}

.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-item {
	padding: 1rem;
	display: block;
	font: var(--button);
	color: var(--grey);
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	text-align: center;
	opacity: 0;
	transform: translateX(2.5rem);
	-webkit-transform: translateX(2.5rem);
	-moz-transform: translateX(2.5rem);
	-ms-transform: translateX(2.5rem);
	-o-transform: translateX(2.5rem);
}

.menu-list li:nth-of-type(2) .menu-item {
	animation-delay: 0.2s;
}
.menu-list li:nth-of-type(3) .menu-item {
	animation-delay: 0.4s;
}
.menu-list li:nth-of-type(4) .menu-item {
	animation-delay: 0.6s;
}
.menu-list li:nth-of-type(5) .menu-item {
	animation-delay: 0.8s;
}

.menu.is-visible .menu-item {
	animation: loadItem 2s forwards;
	-webkit-animation: loadItem 2s forwards;
}

.menu-item:hover {
	color: var(--white);
}

.menu .button {
	align-self: center;
}

@media screen and (min-width: 768px) {
	.menu {
		position: static;
		flex-direction: row;
		block-size: 100%;
		clip-path: none;
	}

	.menu-list {
		display: flex;
	}

	.menu-item {
		block-size: 100%;
		box-sizing: border-box;
		padding-inline-end: 1.25rem;
		padding-inline-start: 1.25rem;
		display: flex;
		align-items: center;
		animation: none;
		-webkit-animation: none;
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}

	.menu-item:hover {
		box-shadow: inset 0 -0.25rem var(--white);
	}

	.menu .button.is-login {
		display: none;
	}
}

.hero {
	background: url(./assets/images/background.png) no-repeat;
	background-size: cover;
	block-size: 43.5rem;
	padding-block-start: 2rem;
	box-sizing: border-box;
	grid-area: hero;
}

.hero-details {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: flex-start;
}

.hero-title {
	margin: 0;
	font: var(--headline4);
	color: var(--white);
}

.hero-description {
	margin: 0;
	color: var(--grey);
	font: var(--body2-regular);
}

@media screen and (min-width: 768px) {
	.hero {
		block-size: 50.875rem;
		padding-block-start: 12.9375rem;
	}

	.hero-title {
		font: var(--headline3);
	}

	.hero-description {
		font: var(--body1-regular);
		inline-size: 36.25rem;
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		grid-column: 1/-1;
		grid-row: 1;
	}

	.hero-details {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		align-items: flex-start;
	}
}

.phone {
	position: absolute;
	inset-block-start: 27.6875rem;
	inline-size: 100%;
	display: flex;
	justify-content: center;
	grid-area: phone;
	block-size: 31.4531rem;
}

.phone-image {
	position: absolute;
	inline-size: 16.5rem;
	block-size: inherit;
	margin: 0;
	background: url(./assets/images/iphone.png) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone-button {
	z-index: 1;
	background: rgba(255, 255, 255, 0.7);
	block-size: 52.8px;
	inline-size: 52.8px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.7);
	will-change: opacity;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}

.phone-image.is-visible .phone-button {
	opacity: 0;
}

.phone.is-copy {
	position: static;
}

.phone-image video {
	position: absolute;
	inset-block-start: 4.4375rem;
	inset-inline-start: 31px;
	object-fit: cover;
	inline-size: 12.5625rem;
	block-size: 22.1875rem;
}

@media screen and (min-width: 768px) {
	.phone {
		inset-block-start: 35.125rem;
	}
}

@media (min-width: 1024px) {
	.phone {
		position: sticky;
		inset-block-start: 0;
		padding-block-start: 124px;
	}

	.phone.is-copy {
		display: none;
	}
}

@media (min-width: 1400px) {
	.phone {
		block-size: 47.6563rem;
	}

	.phone-image {
		inline-size: 25rem;
	}

	.phone-image video {
		inset-block-start: 6.75rem;
		inset-inline-start: 2.9375rem;
		inline-size: 19.0625rem;
		block-size: 33.625rem;
	}
}

.gridContainer {
	position: relative;
}

@media (min-width: 1024px) {
	.gridContainer {
		display: grid;
		grid-template-columns: var(--grid-columns);
		grid-template-areas: '. phone hero .';
	}
}

.wrapper {
	padding-inline-end: 1.25rem;
	padding-inline-start: 1.25rem;
}

@media screen and (min-width: 1024px) {
	.wrapper {
		padding-inline-end: 1.875rem;
		padding-inline-start: 1.875rem;
	}
}

.button {
	font: var(--button);
	color: var(--white);
	text-decoration: none;
	padding-block-end: 0.75rem;
	padding-block-start: 0.75rem;
	padding-inline-end: 3.8125rem;
	padding-inline-start: 3.8125rem;
	border: 2px solid var(--white);
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	box-sizing: border-box;
}

.button.is-black {
	background: var(--black);
	border: none;
}

.button.is-login {
	color: var(--black);
	background: var(--white);
	border: none;
}

@media screen and (min-width: 768px) {
	.button.is-login {
		padding-block-end: 0.3125rem;
		padding-block-start: 0.3125rem;
		padding-inline-end: 1rem;
		padding-inline-start: 1rem;
	}
}

.link {
	font: var(--link);
	color: var(--grey);
}

@media screen and (min-width: 768px) {
	.link {
		font-size: 1.125rem;
	}
}

.brandsSection {
	padding-block-end: 4rem;
	padding-block-start: 17.1875rem;
}

.brandsSection-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	gap: 1.5rem;
}

.brandsSection-logo {
	opacity: 0;
	transform: translateX(40px);
	margin: 0;
	block-size: 3.5rem;
	-webkit-transform: translateX(40px);
	-moz-transform: translateX(40px);
	-ms-transform: translateX(40px);
	-o-transform: translateX(40px);
}

.brandsSection-content.is-visible .brandsSection-logo:nth-of-type(2) {
	block-size: 4.5625rem;
	animation-delay: 0.2s;
}
.brandsSection-content.is-visible .brandsSection-logo:nth-of-type(3) {
	animation-delay: 0.4s;
}
.brandsSection-content.is-visible .brandsSection-logo:nth-of-type(4) {
	animation-delay: 0.6s;
}

.brandsSection-content.is-visible .brandsSection-logo {
	animation: loadItem 2s forwards;
	-webkit-animation: loadItem 2s forwards;
}

.brandsSection-logo img {
	block-size: 100%;
	inline-size: auto;
	vertical-align: middle;
}

@media screen and (min-width: 768px) {
	.brandsSection-content {
		flex-direction: row;
		justify-content: center;
		gap: 1.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.brandsSection {
		padding-block-start: 2.75rem;
		padding-block-end: 8rem;
	}

	.brandsSection-content {
		justify-content: flex-start;
	}
}

.checkout {
	background: #e8e8e6;
	padding-block-end: 1.375rem;
}

.checkout-details {
	padding-block-start: 4rem;
	padding-block-end: 4rem;
	display: flex;
	flex-direction: column;
	max-inline-size: 38.1875rem;
	gap: 1rem;
}

.checkout-cover {
	margin: 0;
	inline-size: 100%;
	overflow: hidden;
}

.checkout-cover img {
	vertical-align: middle;
	inline-size: 100%;
	block-size: auto;
}

@media screen and (min-width: 768px) {
	.checkout {
		background: var(--white);
		padding: 0;
	}

	.checkout-details {
		margin-inline-end: auto;
		margin-inline-start: auto;
		padding-block-end: 7.75rem;
	}
}

@media screen and (min-width: 1024px) {
	.checkout-details {
		margin: 0;
	}

	.checkout-cover {
		margin-inline-start: 1.875rem;
		inline-size: calc(100% - 1.875rem);
		border-radius: 0.5rem;
		-webkit-border-radius: 0.5rem;
		-moz-border-radius: 0.5rem;
		-ms-border-radius: 0.5rem;
		-o-border-radius: 0.5rem;
	}
}

.purchase {
	padding-block-end: 8.6719rem;
	padding-block-start: 2.625rem;
	background: #e8e8e6;
	background-image: url(./assets/images/section-bg.png);
	background-position: bottom -15px right -230px;
	background-repeat: no-repeat;
	background-size: cover;
}

.purchase-details {
	margin-inline-end: auto;
	margin-inline-start: auto;
	padding-block-end: 4rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-inline-size: 28.625rem;
}

@media screen and (min-width: 768px) {
	.purchase {
		padding-block-start: 12.9375rem;
	}
}

@media screen and (min-width: 1024px) {
	.purchase {
		background-position: bottom right;
		padding-block-end: 21.6875rem;
	}

	.purchase-details {
		margin: 0;
		padding: 0;
	}
}

.track {
	padding-block-start: 4rem;
	padding-block-end: 3.5469rem;
	background: var(--black);
}

.track-details {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	max-inline-size: 28.625rem;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

@media screen and (min-width: 768px) {
	.track {
		padding-block-start: 12.9375rem;
	}
}

@media screen and (min-width: 1024px) {
	.track-details {
		margin: 0;
	}
}

.range {
	background: #e8e8e8;
	inline-size: 94.4%;
	block-size: 2.5rem;
	border-radius: 100px 0 0 100px;
	-webkit-border-radius: 100px 0 0 100px;
	-moz-border-radius: 100px 0 0 100px;
	-ms-border-radius: 100px 0 0 100px;
	-o-border-radius: 100px 0 0 100px;
	margin-inline-start: auto;
	margin-block-end: 4rem;
	margin-block-start: 2.5rem;
}

.range-progress {
	background: #2fb464;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	block-size: 100%;
	inline-size: 5%;
	will-change: inline-size;
	transition: inline-size 1.2s ease-out;
	-webkit-transition: inline-size 1.2s ease-out;
	-moz-transition: inline-size 1.2s ease-out;
	-ms-transition: inline-size 1.2s ease-out;
	-o-transition: inline-size 1.2s ease-out;
}

.range.is-visible .range-progress {
	inline-size: 60%;
}

@media screen and (min-width: 768px) {
	.range {
		inline-size: 80%;
		margin-block-start: 3.75rem;
	}
}

@media screen and (min-width: 1024px) {
	.range {
		margin-inline-start: 1.875rem;
		inline-size: calc(100% - 1.875rem);
		grid-column: 3/-1;
	}
}

.password {
	padding-block-start: 4rem;
	padding-block-end: 4rem;
	display: flex;
	justify-content: center;
}

.password-details {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
}

.password-description {
	max-inline-size: 27.875rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.password-image {
	margin: 0;
	inline-size: 20rem;
	block-size: 20rem;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

.password-image img {
	vertical-align: middle;
	inline-size: 100%;
	block-size: auto;
}

@media screen and (min-width: 768px) {
	.password {
		padding-block-start: 12.5rem;
		padding-block-end: 12.5rem;
	}

	.password-details {
		flex-direction: column-reverse;
		gap: 4rem;
	}

	.password .section-description {
		max-inline-size: 23.25rem;
	}

	.password-image {
		inline-size: 23.125rem;
		block-size: 23.125rem;
	}
}

.section-title {
	font: var(--headline5);
	margin: 0;
}

.section-description {
	font: var(--body2-regular);
	color: var(--grey);
	margin: 0;
}

.section-title.is-white,
.section-description.is-white {
	color: var(--white);
}

@media screen and (min-width: 768px) {
	.section-title {
		font: var(--headline2);
	}

	.section-description {
		font: var(--body1-regular);
	}
}

@media screen and (min-width: 1024px) {
	.section {
		display: grid;
		grid-column: 1/-1;
		grid-template-columns: var(--grid-columns);
	}

	.section-content {
		grid-column: 3/4;
	}
}

.testimonial {
	background: var(--grey10);
	padding-block-start: 5rem;
	padding-block-end: 12.5rem;
}

.testimonial-title {
	font: var(--headline5);
	color: var(--black10);
	text-align: center;
	margin: 0;
	margin-bottom: 8.1875rem;
}

.testimonial-slider {
	display: flex;
	flex-direction: column;
	gap: 8.1875rem;
	max-inline-size: 111rem;
	margin-inline-end: auto;
	margin-inline-start: auto;
	scroll-snap-type: x mandatory;
}

.testimonial-slider > * {
	scroll-snap-align: start;
}

@media screen and (min-width: 768px) {
	.testimonial {
		padding-block-start: 8rem;
		padding-block-end: 12.5rem;
	}

	.testimonial-title {
		font: var(--headline2);
		margin-bottom: 5rem;
	}

	.testimonial-slider {
		overflow-x: auto;
		flex-direction: row;
		gap: 1.5rem;
		padding-block-start: 3.1875rem;
	}
}

.card {
	background: var(--white);
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	font: var(--body1-regular);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline-end: 2rem;
	padding-inline-start: 2rem;
	padding-block-end: 2rem;
	min-block-size: 27.4375rem;
	box-sizing: border-box;
	max-inline-size: 426px;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

.card-avatar {
	position: relative;
	bottom: 3.1563rem;
	margin: 0;
	block-size: 6.3125rem;
	inline-size: 6.2975rem;
}

.card-avatar img {
	vertical-align: middle;
	block-size: 100%;
	inline-size: auto;
}

.card-content {
	margin: 0;
	padding-block-start: 1.6875rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.5rem;
}

.card-quote {
	text-align: center;
	margin: 0;
}

.card-author {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: center;
	color: var(--grey);
}

.card-author span:first-of-type {
	font: var(--body1-bold);
	color: var(--black);
}

@media screen and (min-width: 768px) {
	.card {
		inline-size: 426px;
		block-size: 439px;
		flex-shrink: 0;
	}
}

.signup {
	position: relative;
	inset-block-end: 5.875rem;
}

.signup-content {
	background: var(--white);
	padding-inline-end: 2rem;
	padding-inline-start: 2rem;
	padding-block-start: 1.5rem;
	padding-block-end: 1.5rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: center;
	align-items: center;
	box-sizing: border-box;
	max-inline-size: 54.75rem;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

.description p {
	margin: 0;
	font: var(--body2-regular);
	color: var(--grey);
}

.signup-title {
	margin: 0;
	margin-block-end: 0.75rem;
	font: var(--headline5);
}

.signup a {
	inline-size: 16rem;
}

@media screen and (min-width: 768px) {
	.signup {
		inset-block-end: 7.5rem;
	}

	.signup-content {
		padding-block-start: 4rem;
		padding-block-end: 4rem;
		gap: 3.5rem;
	}

	.signup-title {
		font: var(--headline2);
	}

	.description p {
		font: var(--body1-regular);
	}

	.signup a {
		inline-size: 18.6875rem;
	}
}

.footer {
	background: var(--black);
	padding-block-end: 8rem;
	padding-inline-end: 1.25rem;
	padding-inline-start: 1.25rem;
}

.footer-content {
	display: flex;
	flex-direction: column;
	max-inline-size: 50.4375rem;
	gap: 4rem;
}

.footer-logo {
	margin: 0;
	block-size: 1.2rem;
	inline-size: 5.75rem;
	margin-block-end: 0.5rem;
}

.footer-logo img {
	vertical-align: middle;
	inline-size: 100%;
	block-size: auto;
}

.footer-caption {
	font: var(--caption);
	color: var(--grey);
}

.footer-socialNetwork {
	display: flex;
	gap: 1rem;
	margin-block-start: 1.75rem;
}

.footer-socialNetwork a {
	background: var(--white);
	color: var(--black);
	text-decoration: none;
	display: block;
	block-size: 2.25rem;
	inline-size: 2.25rem;
	font-size: 1.25rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
}

a.is-twitter:hover {
	color: #1da1f2;
}

a.is-linkedin:hover {
	color: #0a66c2;
}

a.is-github:hover {
	color: #410093;
}

@media screen and (min-width: 768px) {
	.footer-content {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		padding-inline-end: 4rem;
		padding-inline-start: 4rem;
	}
}

@media screen and (min-width: 1400px) {
	.footer-content {
		max-inline-size: 1400px;
		gap: 8rem;
		justify-content: flex-start;
		margin-inline-end: auto;
		margin-inline-start: auto;
	}
}

.footerMenu-title {
	font: var(--button);
	color: var(--white);
	margin: 0;
	margin-block-end: 0.25rem;
}

.footerMenu-content {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footerMenu-content a {
	font: var(--body1-regular);
	color: var(--grey20);
	text-decoration: none;
	position: relative;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
}

.footerMenu-content a:hover {
	color: var(--white);
}

.footerMenu-content a::after {
	position: absolute;
	inset-block-end: 0;
	display: block;
	content: '';
	block-size: 2px;
	background: var(--white);
	inline-size: 0;
	transition: inline-size 0.3s;
	-webkit-transition: inline-size 0.3s;
	-moz-transition: inline-size 0.3s;
	-ms-transition: inline-size 0.3s;
	-o-transition: inline-size 0.3s;
}

.footerMenu-content a:hover::after {
	inline-size: 100%;
}

::-webkit-scrollbar {
	block-size: 0.5rem;
	inline-size: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: #666666;
	border-radius: 25px;
}

::-webkit-scrollbar-track {
	background: var(--grey20);
}

@keyframes loadItem {
	to {
		opacity: 1;
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}
}

