.phone {
	position: absolute;
	inset-block-start: 27.6875rem;
	inline-size: 100%;
	display: flex;
	justify-content: center;
	grid-area: phone;
	block-size: 31.4531rem;
}

.phone-image {
	position: absolute;
	inline-size: 16.5rem;
	block-size: inherit;
	margin: 0;
	background: url('../assets/images/iphone.png') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone-button {
	z-index: 1;
	background: rgba(255, 255, 255, 0.7);
	block-size: 52.8px;
	inline-size: 52.8px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.7);
	will-change: opacity;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}

.phone-image.is-visible .phone-button {
	opacity: 0;
}

.phone.is-copy {
	position: static;
}

.phone-image video {
	position: absolute;
	inset-block-start: 4.4375rem;
	inset-inline-start: 31px;
	object-fit: cover;
	inline-size: 12.5625rem;
	block-size: 22.1875rem;
}

@media screen and (min-width: 768px) {
	.phone {
		inset-block-start: 35.125rem;
	}
}

@media (min-width: 1024px) {
	.phone {
		position: sticky;
		inset-block-start: 0;
		padding-block-start: 124px;
	}

	.phone.is-copy {
		display: none;
	}
}

@media (min-width: 1400px) {
	.phone {
		block-size: 47.6563rem;
	}

	.phone-image {
		inline-size: 25rem;
	}

	.phone-image video {
		inset-block-start: 6.75rem;
		inset-inline-start: 2.9375rem;
		inline-size: 19.0625rem;
		block-size: 33.625rem;
	}
}
