.purchase {
	padding-block-end: 8.6719rem;
	padding-block-start: 2.625rem;
	background: #e8e8e6;
	background-image: url('../assets/images/section-bg.png');
	background-position: bottom -15px right -230px;
	background-repeat: no-repeat;
	background-size: cover;
}

.purchase-details {
	margin-inline-end: auto;
	margin-inline-start: auto;
	padding-block-end: 4rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-inline-size: 28.625rem;
}

@media screen and (min-width: 768px) {
	.purchase {
		padding-block-start: 12.9375rem;
	}
}

@media screen and (min-width: 1024px) {
	.purchase {
		background-position: bottom right;
		padding-block-end: 21.6875rem;
	}

	.purchase-details {
		margin: 0;
		padding: 0;
	}
}
